@import "scrollbar.css";
@import "transition.css";

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    letter-spacing: normal !important;
}

#nprogress .bar {
    background: red !important;
}


